<div class="container-footer">
  <div>
    <img
      class="img-footer"
      src="../../assets/img/footer-logo.jpeg">
  </div>
  <div class="div-main-footer margin-top-5">
    <div class="div-main-footer">
      <mat-icon class="icon-color" matSuffix>location_on</mat-icon>
    </div>
    <div>
      <span class="white">Av. Frederico Dihl, 138 - Loja 10 - Bela Vista, Alvorada - RS, 94810-240</span>
    </div>
  </div>
  <div class="div-insta-icon margin-top-5" onclick="(window.open('https://instagram.com/armazem_verdevale?igshid=MzRlODBiNWFlZA==', '_blank'))">
    <div>
      <img class="insta-icon" src="/../../assets/img/instagram.svg">
    </div>
    <div class="margin-left-15">
      <span class="white">@armazem_verdevale</span>
    </div>
  </div>
  <div class="div-flex margin-top-5">
    <div>
      <mat-icon class="icon-color" matSuffix>smartphone</mat-icon>
    </div>
    <div>
      <span class="white">(51) 999927439</span>
    </div>
  </div>
</div>
