<div #about class="container-about">
  <div class="flex">
    <div class="flex column content-center">
      <div class="flex div-topic">
        <div>
          <img
            class="topic"
            src="../../assets/img/topic.jpeg">
        </div>
        <div class="padding-left-10">
          <span class="text-about">SOBRE NÓS</span>
        </div>
      </div>
      <div class="flex row">
        <div class="paragraph-about">
          <p>
            Somos uma loja especializada em produtos naturais. Com foco em atender nossos clientes da melhor forma,
            contamos com produtos de alta qualidade para que você possa
            estar usufruindo dos benefícios de uma alimentação mais saudável. Além é claro de um atendimento personalizado,
            pois acreditamos que uma relação de cordialidade nos torna mais saudáveis.
          </p>
        </div>
    </div>
  </div>

    <div>
      <img
        class="img-about"
        src="../../../assets/img/sobre.jpeg">
    </div>
  </div>
</div>
