.background-home {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom:0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.whatsapp-icon {
  right: 60px;
  position: fixed;
  width: 80px;
  top: 385px;
  cursor: pointer;
}

.margin-top-1060 {
  margin-top: 1060px;
}

.width-100 {
  width: 100%;
}
