<div class="container-where">
  <div class="div-where div-topic">
    <div>
      <img
        class="topic"
        src="../../assets/img/topic.jpeg">
    </div>
    <div class="padding-left-10">
      <span class="text-where">ONDE ESTAMOS</span>
    </div>
  </div>
  <div class="div-where">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13819.577145451709!2d-51.
    0877371!3d-30.0111917!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x951975429c7bd23d%3A0x9ac656a860b7e47c!2sArmaz%C3%A9m%2
    0Verde%20Vale!5e0!3m2!1spt-BR!2sbr!4v1687013362775!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;"
            allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>
